@{
    ViewData["Title"] = "Localidades";
}

<div class="row">
    <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
        <div class="text-center">
            <h4>NUEVA LOCALIDAD</h4>
        </div>
        <label>Provincia</label>
        <select id="cmbProvincia" class="form-control">
            <option value="-1">SELECCIONE UNA PROVINCIA</option>
        </select>
    </div>
    <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">

    </div>
</div>

<script>var exports = {"__esModule": true};</script>
<script src="~/Scripts/Localidad.js"></script>