@model IEnumerable<Servicios.Interface.Provincia.ProvinciaDto>

@{
    ViewData["Title"] = "Provincias";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="row">
    <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
        <div class="border">
            <h4 style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; text-align:center;">NUEVA PROVINCIA</h4>
            <hr>
            <div class="contenedor-formulario">
                <form asp-action="Add" asp-controller="Provincia" method="POST" id="formularioProvincia">
                    <div class="form-group">
                        <label>Descripci贸n</label>
                        <input type="text" class="form-control" id="txtDescripcion" name="Descripcion">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">GRABAR</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
        <table class="table table-sm table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>#</th>
                    <th>Descripci贸n</th>
                    <th>Acci贸nes</th>
                </tr>
            </thead>
            <tbody id="tabla-provincias">

            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalProvincia" tabindex="-1" role="dialog" aria-labelledby="modalProvinciaLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-danger text-white">
        <h5 class="modal-title" id="exampleModalLabel">Modificar Provincia</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label>Descripci贸n</label>
        <input type="text" class="form-control" id="txtNuevaDescripcion">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="modificar">Guardar</button>
      </div>
    </div>
  </div>
</div>

<style>
.contenedor-formulario{
    margin-top:15px;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
}
</style>

<script src="~/Scripts/Provincia.js"></script>