@{
    ViewData["Title"] = "Nuevo Turno";
}

<div class="container">
    <div class="d-flex justify-content-center">
        <div class="form-inline">
            <div class="form-group">
                <input type="text" class="form-control" id="dni">
                <button type="button" id="buscar" class="btn btn-primary ml-3">
                    Buscar
                </button>
            </div>
        </div>
    </div>
    <div class="mt-4">
        <form action="/Turnos/GrabarTurno" method="POST">
            <div class="form-group">
                <div class="row">
                    <div class="col-4">
                        <label>Nombre</label>
                        <input type="text" class="form-control" name="Nombre">
                    </div>
                    <div class="col-4">
                        <label>Apellido</label>
                        <input type="text" class="form-control" name="Apellido">
                    </div>
                    <div class="col-4">
                        <label>DNI</label>
                        <input type="text" class="form-control" name="Dni">
                    </div>
                    <div class="col-4">
                        <input type="date" class="form-control" name="FechaNacimiento">
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label>Provincia</label>
                        
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="~/Scripts/NuevoTurnoJs/main.js"></script>